@import '../utils/variables';

.toolbar-container{
    @include flex(row);
    @include font(20px);
    position:absolute;
    bottom:$single-space;
    left:$single-space;
    margin:auto;
    z-index:200;
    bottom:$single-space;
    background:rgba($color, $color, $color, .12);
    backdrop-filter: blur(5px);
    padding:.5*$single-space;
    border-radius:20px;
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    &:hover{
        cursor:move;
    }
    div{
        border-radius:14px;
        @include flex(row);
        padding:$single-space;
        background:$background;
        &:nth-child(n+2){
            margin-left:.5*$single-space;
        }
    }
    span{
        @include font(14px, 300);
        margin-left:$single-space;
        min-width:30px;
        text-align:end;
    }
}
