@import '../utils/variables';


.table{
    margin:.5*$large-space auto;
    position:relative;
}

.container-cards{
    position:fixed;
    width:100%;
    .wrapper-card{
        position: absolute;
        top:0;
        left:0;
    }
}

.container-decks{
    position:fixed;
    .deck{
        position:absolute;
        top:0;
        left:0;
        border: 1px solid rgba($color, $color, $color, .3);
        border-radius:6px;
        &:nth-child(1){
            cursor:pointer
        }
        &:nth-child(n+3){
            @include insetNeumorphism
        }
        &:nth-child(n+7){
            box-shadow: none;
            border: 1px solid rgba($color, $color, $color, .3);
        }
    }
}

.deck-refresh{
    @include flex;
    @include font(20px, 500, 'Montserrat', .3);
    position: absolute;
    width: 100%;
    height: 100%;
}